@import "./blocks/_settings.scss";
@import "./blocks/_left-side.scss";
@import "./blocks/_slider.scss";
@import "./blocks/_menu.scss";
@import "./blocks/_categories.scss";
@import "./blocks/_product.scss";
@import "./blocks/_search.scss";
@import "./blocks/_toggle.scss";

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
}
